/* .main-area {
background: url('./public/images/plane-home-page.jpg');
background-size: cover;
background-position: center;
font-family: 'Lato';
color: white;
} */

.main-area {
    /* background-image: url("./images/plane-home-page.jpg");
    width: 100%; */
    
}