.main-area {
    background-image: url('./glen-jackson-LglfAGlZCvk-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%; */
    /* position: relative;  */
    top: 0; 
    left: 0; 
    height: 75vh;

    width: 100vw;


    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 75%;
}

.categories-area {
    position: relative;
    top: 20px;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    background-color:rgb(234, 234, 241);
    width: 60vw;
    border: .5px solid black;
    border-radius: 25px;
    padding: 4px;
}

.search-bar > div {
    padding: 4px;
}

.nav-organizer {
    height: 40px;
}