/* .main-area {
background: url('./public/images/plane-home-page.jpg');
background-size: cover;
background-position: center;
font-family: 'Lato';
color: white;
} */

body {
    position: relative;
}

.main-area {
    background-image: url('./glen-jackson-LglfAGlZCvk-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%; */
    position: fixed; 
    top: 0; 
    left: 0; 

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

/* .stuff {
    position: absolute;
} */