.profile-content {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 1fr ;
}

.datepicker {
  margin: 20px;
  top: 20px;
  position: sticky;
}

.image {

  height: 400px;
  object-fit: cover;
}

.plane-facts {
  box-sizing: border-box;
  padding-left: 5px;
}