nav {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    /* padding: 6px; */
    height: 40px;
    /* top: 0; */
    /* overflow: hidden; */
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
}

nav > div > a,
.profile-button,
i,
.username {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

.username {
    color: black;
}

a:hover,
.profile-button:hover,
i:hover {
    color: rgb(143, 221, 245);
    font-weight: bold;
}

.profile-dropdown {
    /* background-color: rgba(245, 120, 18, 0.4); */
    padding: 5px;
    padding-top: 20px;
}

.bars {
    text-align: right;
}

button {
    padding: 1px;
    margin: 2px;
}





/* other option for padding stuff  */
/* nav > * {
    padding: 10px;
} */