nav {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    /* padding: 6px; */
    height: 40px;
    /* top: 0; */
    /* overflow: hidden; */
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
}

nav > div > a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(143, 221, 245);
    font-weight: bold;
}





/* other option for padding stuff  */
/* nav > * {
    padding: 10px;
} */